{% extends 'teacher/base.html' %} 
{% block content %}
<div>
    <h1 align = "center"> About the project </h1>

</div>
<br />
<div>
<p align="left" style="font-size:160%;">   Learning languages is a senseitive issue, 

specially for us as displaced persons. </p>

<p align="left" style="font-size:160%;">This logic was not envented by me, our teacher 

use this idea in our class but it consumes at 

least 10 minutes each lession to organise the 

work groups. </p>

<p align="left" style="font-size:160%;">So I automated this process here in this 

project. </p>

<p align="left" style="font-size:160%;">when it comes to learn the language we have to 

put a pressure on our students to learn fast. </p>

<p align="left" style="font-size:160%;">The idea of this project is to organise the 

class groups in an English class in such a way 

that there are not Two students with the same 

mother language in one group, so the students 

are obligated to speak in english to connect 

with each other.</p>

<p align="left" style="font-size:160%;">the secon idea is to shuffel the students' 

groups throug the semester, so approximately 

you will work with evrey single students in 

your class who doesn't talk your mother 

languge, so you will learn the different 

accsents and deal with them. </p>

<p align="left" style="font-size:160%;">So 10 mins for evrey class each  lession means 

if the class held 3 times a day, you loose 30 

mins. and if you have 10 classes in this 

school you loose 5 hours every day. and if you 

have more and more schools in the country, you 

can imagine what we loose.  </p>
</div>


{% endblock %}